---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/users
    body:
      encoding: UTF-8
      string: '{"authorization":{"client_id":"2133085712","client_secret":"09e4a4fd5e7a5c172ef2e183046dc89bcf4d18f9"},"user":{"first_name":"foo","last_name":"bar","email":"foo.bar@testuser.com","password":"11Password","currency":"","country":"","address_line_1":"","address_line_2":"","town":"","county":"","postcode":"","phone_number":"","company":"","account_id":"","referral_code":"","accountant_id":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"status":"Error","errors":["Email has already been taken"]}'
  recorded_at: Mon, 09 Feb 2015 11:32:28 GMT
recorded_with: VCR 2.9.3
