---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/add_categories
    body:
      encoding: UTF-8
      string: '{"sessionid":"e5fbab4bf610dbd51b700b1626c9d4ad","categories":[{"id":"Category_1","name":"Category_name","code":"123"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"categories":[{"id":"Category_1","name":"Category_name","code":"123"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:56 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/add_categories
    body:
      encoding: UTF-8
      string: '{"sessionid":"e5fbab4bf610dbd51b700b1626c9d4ad","categories":[{"id":"Category_1","name":"updated
        ReceiptBank::Models::Category name","code":"123"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"categories":[{"id":"Category_1","name":"updated ReceiptBank::Models::Category
        name","code":"123"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:56 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/categories
    body:
      encoding: UTF-8
      string: '{"id":"Category_1","sessionid":"e5fbab4bf610dbd51b700b1626c9d4ad"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":0,"categories":[]}'
  recorded_at: Tue, 10 Feb 2015 09:53:56 GMT
recorded_with: VCR 2.9.3
