---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/add_clients
    body:
      encoding: UTF-8
      string: '{"sessionid":"bc64d5a39834dbebbe2dcd75a23c1ac5","clients":[{"id":"Client_1","name":"Client_name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"clients":[{"id":"Client_1","name":"Client_name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:48 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/clients
    body:
      encoding: UTF-8
      string: '{"id":"Client_1","sessionid":"bc64d5a39834dbebbe2dcd75a23c1ac5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"clients":[{"id":"Client_1","name":"Client_name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:48 GMT
recorded_with: VCR 2.9.3
