---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/add_clients
    body:
      encoding: UTF-8
      string: '{"sessionid":"a5f5aa66de745b7d75e7c7dea1c00eb9","clients":[{"id":"Client_1","name":"Client_name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"clients":[{"id":"Client_1","name":"Client_name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:48 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/add_clients
    body:
      encoding: UTF-8
      string: '{"sessionid":"a5f5aa66de745b7d75e7c7dea1c00eb9","clients":[{"id":"Client_1","name":"updated
        ReceiptBank::Models::Client name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"clients":[{"id":"Client_1","name":"updated ReceiptBank::Models::Client
        name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:49 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/clients
    body:
      encoding: UTF-8
      string: '{"id":"Client_1","sessionid":"a5f5aa66de745b7d75e7c7dea1c00eb9"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"clients":[{"id":"Client_1","name":"updated ReceiptBank::Models::Client
        name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:49 GMT
recorded_with: VCR 2.9.3
