---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/login
    body:
      encoding: UTF-8
      string: '{"login":"foo.bar@testuser.com","password":"11Password"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"sessionid":"73d212b3d35548c7ce622878aac1010f","permissions":{"delete":1,"publish":0,"archive":1}}'
  recorded_at: Tue, 10 Feb 2015 09:48:05 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/list_users
    body:
      encoding: UTF-8
      string: '{"email":"foo.bar@testuser.com","sessionid":"73d212b3d35548c7ce622878aac1010f"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"users":[{"id":4370501348,"first_name":"foo","last_name":"bar","email":"foo.bar@testuser.com","account_id":4370501348,"suspended":false}]}'
  recorded_at: Tue, 10 Feb 2015 09:48:05 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/available_countries
    body:
      encoding: UTF-8
      string: '{"sessionid":"73d212b3d35548c7ce622878aac1010f"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":245,"countries":["Afghanistan","Aland Islands","Albania","Algeria","American
        Samoa","Andorra","Angola","Anguilla","Antarctica","Antigua And Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia
        and Herzegowina","Botswana","Bouvet Island","Brazil","British Indian Ocean
        Territory","Brunei Darussalam","Bulgaria","Burkina Faso","Burundi","Cambodia","Camero[...]
