---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/login
    body:
      encoding: UTF-8
      string: '{"login":"foo.bar@testuser.com","password":"11Password"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"sessionid":"3a81aa11403fd99302b0341706c44817","permissions":{"delete":1,"publish":0,"archive":1}}'
  recorded_at: Tue, 10 Feb 2015 09:54:16 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/list_users
    body:
      encoding: UTF-8
      string: '{"email":"foo.bar@testuser.com","sessionid":"3a81aa11403fd99302b0341706c44817"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"users":[{"id":4370501348,"first_name":"foo","last_name":"bar","email":"foo.bar@testuser.com","account_id":4370501348,"suspended":false}]}'
  recorded_at: Tue, 10 Feb 2015 09:54:16 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/available_currencies
    body:
      encoding: UTF-8
      string: '{"sessionid":"3a81aa11403fd99302b0341706c44817"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":14,"currencies":["AUD","CAD","CHF","DKK","EUR","GBP","HKD","NOK","NZD","PLN","SEK","SGD","USD","ZAR"]}'
  recorded_at: Tue, 10 Feb 2015 09:54:16 GMT
recorded_with: VCR 2.9.3
