---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/add_payees
    body:
      encoding: UTF-8
      string: '{"sessionid":"6470cfb78f07f30aa1de291c75917d9c","payees":[{"id":"Payee_1","name":"Payee_name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"payees":[{"id":"Payee_1","name":"Payee_name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:52 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/delete_payees
    body:
      encoding: UTF-8
      string: '{"payees":[{"id":"Payee_1"}],"sessionid":"6470cfb78f07f30aa1de291c75917d9c"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":0,"payees":[]}'
  recorded_at: Tue, 10 Feb 2015 09:53:52 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/payees
    body:
      encoding: UTF-8
      string: '{"id":"Payee_1","sessionid":"6470cfb78f07f30aa1de291c75917d9c"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":0,"payees":[]}'
  recorded_at: Tue, 10 Feb 2015 09:53:52 GMT
recorded_with: VCR 2.9.3
