---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/add_payees
    body:
      encoding: UTF-8
      string: '{"sessionid":"cd342662da2724b6f4e75d679ebbf0cd","payees":[{"id":"Payee_1","name":"Payee_name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"payees":[{"id":"Payee_1","name":"Payee_name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:50 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/payees
    body:
      encoding: UTF-8
      string: '{"id":"Payee_1","sessionid":"cd342662da2724b6f4e75d679ebbf0cd"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"payees":[{"id":"Payee_1","name":"Payee_name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:51 GMT
recorded_with: VCR 2.9.3
