---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/add_projects
    body:
      encoding: UTF-8
      string: '{"sessionid":"00838b1100d229c9c9f08ca5f42206fd","projects":[{"id":"Project_1","name":"Project_name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"projects":[{"id":"Project_1","name":"Project_name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:53 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/projects
    body:
      encoding: UTF-8
      string: '{"id":"Project_1","sessionid":"00838b1100d229c9c9f08ca5f42206fd"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"projects":[{"id":"Project_1","name":"Project_name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:53 GMT
recorded_with: VCR 2.9.3
