---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/add_projects
    body:
      encoding: UTF-8
      string: '{"sessionid":"10ae77fe0adb8c008a15b6f93e6447a5","projects":[{"id":"Project_1","name":"Project_name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"projects":[{"id":"Project_1","name":"Project_name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:54 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/add_projects
    body:
      encoding: UTF-8
      string: '{"sessionid":"10ae77fe0adb8c008a15b6f93e6447a5","projects":[{"id":"Project_1","name":"updated
        ReceiptBank::Models::Project name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"projects":[{"id":"Project_1","name":"updated ReceiptBank::Models::Project
        name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:54 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/projects
    body:
      encoding: UTF-8
      string: '{"id":"Project_1","sessionid":"10ae77fe0adb8c008a15b6f93e6447a5"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"projects":[{"id":"Project_1","name":"updated ReceiptBank::Models::Project
        name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:54 GMT
recorded_with: VCR 2.9.3
