---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/add_projects
    body:
      encoding: UTF-8
      string: '{"sessionid":"d5f8afce20c51700732f4f84978492f7","projects":[{"id":"Project_1","name":"Project_name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"projects":[{"id":"Project_1","name":"Project_name"}]}'
  recorded_at: Tue, 10 Feb 2015 09:53:54 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/delete_projects
    body:
      encoding: UTF-8
      string: '{"projects":[{"id":"Project_1"}],"sessionid":"d5f8afce20c51700732f4f84978492f7"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":0,"projects":[]}'
  recorded_at: Tue, 10 Feb 2015 09:53:54 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/projects
    body:
      encoding: UTF-8
      string: '{"id":"Project_1","sessionid":"d5f8afce20c51700732f4f84978492f7"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":0,"projects":[]}'
  recorded_at: Tue, 10 Feb 2015 09:53:55 GMT
recorded_with: VCR 2.9.3
