---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/receipts
    body:
      encoding: UTF-8
      string: '{"sessionid":"317c14de7751f864a553d2cdeabe7a12"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"receipts":[{"id":5304133527,"type":"receipt","date":"2015-02-09","invoice_number":null,"due_date":"","paid":false,"payee":null,"payee_id":null,"client":null,"project":null,"category":"Postage","category_id":null,"category_code":null,"currency":"GBP","total_amount":null,"vat_amount":"0.0","base_currency":"GBP","base_total":0.0,"base_vat":"0.0","payment_method":"unknown","payment_method_ref":null,"description":"test
        receipt description","status":"complete","integration_status":"Ready for Export","user_status":"processed","integration_state":null,"integration_state_message":null,"processed":1}]}'
  recorded_at: Fri, 13 Feb 2015 16:34:54 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/publish_receipt
    body:
      encoding: UTF-8
      string: '{"sessionid":"317c14de7751f864a553d2cdeabe7a12","id":5304133527}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":5304133527,"message":"Receipt #5304133527 queued for publishing."}'
  recorded_at: Fri, 13 Feb 2015 16:34:54 GMT
recorded_with: VCR 2.9.3
