---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/inbox
    body:
      encoding: UTF-8
      string: '{"sessionid":"f853226211ccdbaf70ebe5474754a691"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"receipts":[{"id":5304133527,"type":"receipt","date":"2015-02-09","invoice_number":"","due_date":"","paid":false,"payee":"Source","payee_id":null,"client":null,"project":null,"category":"Postage","category_id":null,"category_code":null,"currency":"GBP","total_amount":"234.0","vat_amount":"0.0","base_currency":"GBP","base_total":"234.0","base_vat":"0.0","payment_method":"unknown","payment_method_ref":"","description":null,"status":"inputted","integration_status":"In
        Processing","user_status":"processing","integration_state":null,"integration_state_message":null,"processed":0}]}'
  recorded_at: Tue, 10 Feb 2015 10:12:25 GMT
recorded_with: VCR 2.9.3
