---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/inbox
    body:
      encoding: UTF-8
      string: '{"sessionid":"37b95523addef14f0c818a55c9106734"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"receipts":[{"id":5304133527,"type":"receipt","date":"2015-02-09","invoice_number":null,"due_date":"","paid":false,"payee":null,"payee_id":null,"client":null,"project":null,"category":"Postage","category_id":null,"category_code":null,"currency":"GBP","total_amount":null,"vat_amount":"0.0","base_currency":"GBP","base_total":0.0,"base_vat":"0.0","payment_method":"unknown","payment_method_ref":null,"description":"test
        receipt","status":"complete","integration_status":"Ready for Export","user_status":"processed","integration_state":null,"integration_state_message":null,"processed":1}]}'
  recorded_at: Tue, 10 Feb 2015 12:19:01 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/update_receipt_data
    body:
      encoding: UTF-8
      string: '{"data":"{\"description\":\"test receipt description\"}","id":5304133527,"sessionid":"37b95523addef14f0c818a55c9106734"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"receipts":[{"id":5304133527,"type":"receipt","date":"2015-02-09","invoice_number":null,"due_date":"","paid":false,"payee":null,"payee_id":null,"client":null,"project":null,"category":"Postage","category_id":null,"category_code":null,"currency":"GBP","total_amount":null,"vat_amount":"0.0","base_currency":"GBP","base_total":0.0,"base_vat":"0.0","payment_method":"unknown","payment_method_ref":null,"description":"test
        receipt description","status":"complete","integration_status":"Ready for Export","user_status":"processed","integration_state":null,"integration_state_message":null,"processed":1}]}'
  recorded_at: Tue, 10 Feb 2015 12:19:02 GMT
recorded_with: VCR 2.9.3
