---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/inbox
    body:
      encoding: UTF-8
      string: '{"sessionid":"c7a953d73f1a969c2fc9a3a1a77897f0"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"receipts":[{"id":5322233626,"type":"receipt","date":"2015-02-10","invoice_number":"","due_date":"","paid":false,"payee":"Source","payee_id":null,"client":null,"project":null,"category":"Postage","category_id":null,"category_code":null,"currency":"GBP","total_amount":null,"vat_amount":"0.0","base_currency":"GBP","base_total":0.0,"base_vat":"0.0","payment_method":"unknown","payment_method_ref":"","description":null,"status":"inp_skipped","integration_status":"In
        Processing","user_status":"processing","integration_state":null,"integration_state_message":null,"processed":0}]}'
  recorded_at: Fri, 13 Feb 2015 16:56:14 GMT
- request:
    method: post
    uri: https://app.rb-logistics.com/api/receipts
    body:
      encoding: UTF-8
      string: '{"id":5322233626,"sessionid":"c7a953d73f1a969c2fc9a3a1a77897f0"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"size":1,"receipts":[{"id":5322233626,"type":"receipt","date":"2015-02-10","invoice_number":"","due_date":"","paid":false,"payee":"Source","payee_id":null,"client":null,"project":null,"category":"Postage","category_id":null,"category_code":null,"currency":"GBP","total_amount":null,"vat_amount":"0.0","base_currency":"GBP","base_total":0.0,"base_vat":"0.0","payment_method":"unknown","payment_method_ref":"","description":null,"status":"inp_skipped","integration_status":"In
        Processing","user_status":"processing","integration_state":null,"integration_state_message":null,"processed":0}]}'
  recorded_at: Fri, 13 Feb 2015 16:56:17 GMT
recorded_with: VCR 2.9.3
