---
http_interactions:
- request:
    method: post
    uri: https://app.rb-logistics.com/api/login
    body:
      encoding: UTF-8
      string: '{"login":"foo.bar@testuser.com","password":"foobar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"errorcode":401,"errormessage":"Invalid username or password"}'
  recorded_at: Tue, 10 Feb 2015 09:45:13 GMT
recorded_with: VCR 2.9.3
